# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Shell scripts use 2 spaces for indentation (not tabs)
[*.sh]
indent_style = space
indent_size = 2

# Ruby files (Homebrew formulas)
[*.rb]
indent_style = space
indent_size = 2

# Makefile requires tabs
[Makefile]
indent_style = tab

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.yml]
indent_style = space
indent_size = 2
